@model TechJobsPersistent.ViewModels.AddEmployerViewModel

<div>
    <h1>Add New Employer</h1>
</div>
<br />

<form asp-controller="Employer" asp-action="ProcessAddEmployerForm" method="post">
    <div class="form-group">
        <input asp-for="Name" placeholder="Employer Name" class="px-2" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <input asp-for="Location" placeholder="Employer Location" class="px-2" />
        <span asp-validation-for="Location"></span>
    </div>
    <input type="submit" value="Submit"/>
</form>